body 
{
    background-color: #243742;
    color: white;
}

header
{
    text-align: center;
    color: white;
}
.autor
{
    color: white;
    text-align: center;
}

h2
{
    color: white;

    text-align: center;
}